html[data-theme=dark] {
    color-scheme: dark;
}
html:not([data-theme=dark]),[data-theme=light] {
    color-scheme: light;
}

a.x-no-line {
    text-decoration: unset !important;
}

.x-flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.x-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.x-transparent {
    border: 0;
    background-color: transparent;
}
